@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
body {
  overflow-x: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* your bg color */
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: inherit !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}
